CORE_PEER_GOSSIP_SKIPHANDSHAKE=true
CORE_PEER_TLS_CLIENTCERT_FILE=/home/ubuntu/hyperledgerconfig/data/peer2-org1/tls/peer2-org1-client.crt
CORE_PEER_TLS_ROOTCERT_FILE=/home/ubuntu/hyperledgerconfig/data/org1-ca-cert.pem
CORE_PEER_TLS_KEY_FILE=/home/ubuntu/hyperledgerconfig/data/peer2-org1/tls/server.key
CORE_PEER_GOSSIP_ORGLEADER=false
CORE_PEER_PROFILE_ENABLED=true
CORE_PEER_LOCALMSPID=org1MSP
CORE_PEER_TLS_CERT_FILE=/home/ubuntu/hyperledgerconfig/data/peer2-org1/tls/server.crt
CORE_PEER_TLS_CLIENTROOTCAS_FILES=/home/ubuntu/hyperledgerconfig/data/org1-ca-cert.pem
CORE_PEER_TLS_CLIENTKEY_FILE=/home/ubuntu/hyperledgerconfig/data/peer2-org1/tls/peer2-org1-client.key
CORE_PEER_TLS_ENABLED=true
CORE_PEER_TLS_CLIENTAUTHREQUIRED=true
CORE_PEER_MSPCONFIGPATH=/home/ubuntu/hyperledgerconfig/data/peer2-org1/msp
CORE_PEER_ID=peer2-org1
CORE_LOGGING_LEVEL=DEBUG
CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer2-org1:7051
CORE_PEER_ADDRESS=peer2-org1:7051
CORE_PEER_GOSSIP_USELEADERELECTION=true
CORE_PEER_GOSSIP_BOOTSTRAP=peer1-org1:7051
