#The ID of the membership service provider (MSP)
MSPID=org0MSP

#Certificate of the node, compliant to Fabric's MSP guidelines
CERTIFICATE=/home/ubuntu/hyperledgerconfig/data/peer.pem

#Private key of the node, compliant to Fabric's MSP guidelines
PRIVKEY=/home/ubuntu/hyperledgerconfig/data/key.pem

#Number of signer/sending threads in the pool
PARELLELISM=20

#Maximum number of blocks to submit to each signer/sending thread
BLOCKS_PER_THREAD=10000

#IDs of the frontends present in the system, separate by commas
RECEIVERS=1000

